#mask {
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://placehold.it/1x1/000);
  opacity: 0.75;
  -ms-filter: alpha(opacity=75);
  filter:alpha(opacity=75);
  z-index: 10;
}

#login-box {
	position: absolute;
	width: 500px;
	height: 300px;
	background: #fff;
}